## Week 3 Assignement

In [36]:
import pandas as pd
import numpy as np

### Scrape the table data from Wikipedia and put it into a DataFrame

In [47]:
#Use Panda's read_html function to pull tables from websites

data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [48]:
#Review the Dataframe contents

df = data[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### Only process the cells that have an assigned borough. Ignore cells with a borough that is "Not assigned"

In [56]:
Borough_not_assigned = df[df['Borough']=='Not assigned']
Borough_not_assigned

    Postal Code       Borough Neighbourhood
0           M1A  Not assigned  Not assigned
1           M2A  Not assigned  Not assigned
7           M8A  Not assigned  Not assigned
10          M2B  Not assigned  Not assigned
15          M7B  Not assigned  Not assigned
..          ...           ...           ...
174         M4Z  Not assigned  Not assigned
175         M5Z  Not assigned  Not assigned
176         M6Z  Not assigned  Not assigned
177         M7Z  Not assigned  Not assigned
179         M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

In [50]:
print(Borough_not_assigned.shape)

(24, 3)

### If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough

In [57]:
#Find each row in the DataFrame where Borough is NOT equal to "Not assigned" and Neighborhood IS equalto"Not assigned"
boro_yes_neigh_no = df.loc[(df['Borough']!='Not assigned')&(df['Neighbourhood']=='Not assigned')]
boro_yes_neigh_no

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [58]:
#There are no rows that have a Borough name and a neighborhooh that is "Not assigned"

In [59]:
#Look at the number of rows and columns in the dataframe
print(df.shape)

(180, 3)

### View the Dataframe after dropping the rows with Boroughs equal to "Not assisgned"

In [60]:
#Clean the dataframe and drop the Boroughs that have a value equal to "Not assigned"

df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True) 
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### Use the .shape method to print the number of rows of your dataframe

In [61]:
#Look at the new shape of the dataframe and see after dropping the neighbourhoods with a value equal to "Not assigned"

print(df.shape)

(103, 3)